﻿
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col col-sm-12">
                <div class="message-cart">
                    <div class="icon">
                        <i class="fa fa-opencart cart" aria-hidden="true"><label class="cart-lebel">0</label></i>
                    </div>
                    <div class="msg-text">
                        <h2 class="title">Your Cart is Empty</h2>
                        <p>Please add some of our many wonderful items to it!</p>

                        <button class="btn btn-primary" ng-click="goback()"> OK </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

