﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head id="headSection">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x- ng-cloak {
            display: none !important;
        }
    </style>
   
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Inventory Story locator</title>
    <!-- Font Awesome -->


    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap
    <link href="assets/css/mdb.min.css" rel="stylesheet"> -->
    <!-- Your custom styles (optional)
    <link href="assets/css/compiled.css" rel="stylesheet">-->

    <link href="assets/css/kendo.common.min.css" rel="stylesheet" />
    <link href="assets/css/kendo.bootstrap.min.css" rel="stylesheet" />
   
    <link href="assets/css/style.css" rel="stylesheet" />

   

    <title></title>
</head>
<body id="mainBody" style="overflow: inherit;" ng-cloak>
    <div ng-init="pageInit()" ng-controller="mainCtrl">
        <div class="text-center">
            <img ng-if="!Loaded" src="assets/images/ajax-loader.gif" />
        </div>
        <div ng-show="Loaded">
            <div ng-controller="startCtrl">
                <div ui-view>

                </div>

               
            </div>
            </div>
        </div>

    <!-- /Start your project here-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <!--<script src="assets/js/jquery-3.1.1.min.js"></script>-->

    <script src="assets/js/jquery-1.9.1.min.js"></script>

  

  
    <!-- Bootstrap tooltips
    <script type="text/javascript" src="assets/js/tether.min.js"></script>-->
    <!-- Bootstrap core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript
    <script type="text/javascript" src="assets/js/mdb.min.js"></script> -->
    <!--<script src="assets/js/custom.js"></script>-->

    <script src="app/js/angular.min.js"></script>
    <script src="assets/js/kendo.all.min.js"></script>
    <script src="app/js/angular-messages.js"></script>
    <script src="app/js/angular-ui-router.js"></script>   
    <script src="app/js/angular-cookies.js"></script>
    <script src="app/js/SHA256.js"></script>
    <script src="app/js/utf8.js"></script>
    <script src="app/js/Base64.js"></script>
    <script src="https://pubsub-test.idealss.net/faye/client.js"></script>
    <script src="app/app.js"></script>
    <script src="app/services/cookiesService.js"></script>
    <script src="app/services/idealsApiService.js"></script>
    <script src="app/controllers/mainCtrl.js"></script>
    <script src="app/controllers/startCtrl.js"></script>
    <script src="app/controllers/searchCtrl.js"></script>
    <script src="app/controllers/searchNotFoundCtrl.js"></script>
    <script src="app/controllers/cartEmptyCtrl.js"></script>
    <script src="app/controllers/cartNotEmptyCtrl.js"></script>
    <script src="app/controllers/itemCtrl.js"></script>
    <script src="app/controllers/payDepositCtrl.js"></script>
    <script src="app/controllers/paySuccessCtrl.js"></script>
    <script src="app/controllers/payDeclineCtrl.js"></script>

</body>
</html>



