﻿
        <div id="itemDetails" class="col col-sm-9">
            <div class="panel-group category-products description">
                <!--<form class="form-horizontal">-->
                <!--</form>-->
                <div class="overflowprod">
                    <div class="msg-text hide" id="noData">
                    <!--<div class="msg-text" ng-show="noData">-->
                        <h2 class="title"><span class="text-danger">Sorry, </span> <small class="text-black">There are no new items in your current list of inventory.</small></h2>
                        <p>Please uncheck New Only to see all available products.</p>
                    </div>
                    <div id="itemsDetail" ng-repeat="data in inventoryList | orderBy:filter"  class="row bdrbtm">
                    <!--<div id="itemsDetail" ng-repeat="data in inventoryList | filter:productName"  class="row bdrbtm">-->
                    <!--<div id="itemsDetail" ng-repeat="data in inventoryList | filter : SearchList"  class="row bdrbtm">-->

                        <div class="col-md-12">
                            <!--<h3 class="title">Brand Model Description</h3>-->
                            <h3 class="title">{{data.brand + " " + data.description}}</h3>
                            <p><strong>Model Details :</strong>{{data.modelDetails }}</p>
                            <p><strong>Attribute :</strong>{{data.attribute }}</p>
                         
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-7"><div class="media"><img src="{{data.imageURL }}" /></div></div>
                                <div class="col-md-5 pricelist">
                                    <h3 class="title">Model : {{data.modelNumber }}</h3>
                                    <ul class="listcost">
                                        <li><small>Price:</small><h3>${{data.price }}</h3></li>
                                        <li><small>Weekly Rate:</small><h3>${{data.weeklyRate }}</h3><small>Own in 52 weeks</small></li>
                                        <li><small>Monthly Rate:</small><h3>${{data.monthlyRate }}</h3><small>Own in 12 months</small></li>
                                    </ul>
                                    <div class="mt-2" id="addToCart">
                                        <a type="button" data-ng-click="selectitem(data,$index);" ng-class="data.ItemSelected=='Y'? 'btn-primary addcart-arrow' : 'btn-primary addcart'">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script type="text/javascript">

    $(document).ready(function () {
        resizeContent();
    });
    $(window).on('resize', function () {
        resizeContent();
    });

    $(window).on('load', function () {
        resizeContent();
    });

    function resizeContent() {
        if ($(window).width() >= 768) {
            // if larger or equal
            $('#filtercategory').hide();
            $('.filtercollapse').show();

        } else {
            // if smaller
            $('#filtercategory').show();
            $('.filtercollapse').hide();
        }
    }

    $('.linkcollapse').on('click', function () {
        $('.filtercollapse').slideToggle('slow');
    });

</script>



