﻿
<div class="navbar-bg"></div>
<div>
<div class="menubar-bg"></div>
    <div class="home"><a href="index.html"><img src="assets/img/home_icon.png" /></a></div>
<div class="main-heading">Chat</div>
    <div class="corp-office" ng-click="Storelist();"> + </div>
<div class="sidebar">
    <div id="nav-icon" ng-click="start();">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="menu">
        <li ng-show = "IsShopShow" class="ShopDisabled"><a href="searchApp/index.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shop</a></li>
        <li><a href="#" ng-click="redirect('Payments')"><i class="fa fa-credit-card" aria-hidden="true"></i>Payments</a></li>
        <li ng-disabled="condition"><a href="" ng-click="clickToChat()"><i class="fa fa-envelope" aria-hidden="true"></i>Messages</a></li>
        <li><a href="#" ng-click="redirect('Settings')"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a></li>
        <li><a href="" ng-click="about();"><i class="fa fa-cog" aria-hidden="true"></i>About</a></li>

    </ul>
</div>

    <div class="page-container">

        <div class="chat-tab-sec">
    <!-- for Chat Tab >>>>>>>>>>>-->
    <div id ="myTabs">
            <ul class="nav nav-tabs tab-nav-sec" >
                 <li ng-show="{{'storearea' + entry.number}}" id="store-area{{entry.number}}" ng-repeat="entry in data1 track by $index" ><a data-toggle="tab" data-target="#menu{{entry.number}}">  {{entry.name}} </a></li>
            </ul>
    </div>

            <div class="tab-content">

                <div id="menu{{entry.number}}" class="tab-pane fade in" ng-repeat="entry in data1 track by $index">
                    <h4>{{entry.name}}</h4>
                    <div class="block-area">
                        <div  class="chat-view-block" id="chat-area{{entry.number}}">
                            <div  class="chat" ng-repeat="msg in messages | filter:getStoreId(entry.number)" >
                                <div ng-class="((msg.msg == 'Support')? 'receive' : 'msg-send')">
                                    <!--<p><span ng-class="(msg.msg=='Me') ? ['sender-title'] : ['receiver-title']">{{msg.msg}}:</span><span style="float:right">{{msg.time | date:'medium' : 'IST'}}</span></p>-->
                                    <p><span ng-class="(msg.msg=='Me') ? ['sender-title'] : ['receiver-title']">{{msg.msg}}:</span><span style="float:right">{{msg.time}}</span></p>
                                    <p style="white-space: pre-wrap;">{{msg.data}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="text-block">
                            <div class="input-block text-area-sec">
                                <textarea id="messages{{entry.number}}" class="text-entry" type="textarea" placeholder="Enter text here" ng-model="chat"></textarea>
                            </div>
                            <div class="button-div">
                                <button class="btn pull-right send-btn" ng-click="send(this,entry.number)"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

<!--List of Store popup Window-->
    <div class="modal fade" id="selection-popup" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">CHOOSE YOUR STORE</h4>
                </div>
                <div class="modal-body" ng-repeat="item in storeList">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="radio1" name="radio1" id="rad" value={{item.number} ng-click="selectRadio(item.number);">
                            {{item.name}}
                        </label>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" id="AddStore" class="btn btn-success" ng-disabled="subForm.$invalid" ng-click="storeFunc();" data-dismiss="modal" value="Add Store">

                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal">
                </div>
            </div>
        </div>
    </div>




  </div>



