﻿<!--Strat Main Container-->
<div id="body-wrapper">
    <header class="fixed-head">

        <div class="header-top">
            <div class="container">
                <p class="top-content">{{storeINFO}}</p>
                <div class="user-name float-R"><input type="submit" value="Back" class="logout" ng-click="back();"><i class="fa fa-sign-out" aria-hidden="true"></i></div>
            </div>
        </div>

        <!--Start Top Header-->
        <nav class="navbar navbar-default nav-custom">
            <div class="container menu-box">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">                
                 
                    <div class="main-logo"></div>
                </div>

            </div>
        </nav>

    </header>
    <!--End Top Header-->
    <!--Start content-->
    <div class="main-container">
        <div class="content-wrapper">
            <div class="container page-inner">
                <h4>Report Issue</h4>
                <p class="sub-text">Please fill out the following information completely and accurately. A clear and detailed description of the problem will help to provide the quicker solution.</p>
             
                    <form name="reportIssue" ng-submit="submit();" novalidate class="form-horizontal">

                        <div class="form-group">
                            <div class="col-md-6 col-sm-12" ng-class="{ 'has-error' : reportIssue.email.$invalid && !reportIssue.email.$pristine }">
                                <div class="">
                                    <label for="email">Email Address:</label>
                                    <input type="email" name="email" ng-model="email" class="form-control" id="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
                                   
                                    <div ng-messages="reportIssue.email.$error" ng-if="reportIssue.email.$dirty">
                                        <div ng-message="required" class="error">Emial is required.</div>
                                        <div ng-message="pattern" class="error">Please enter a valid email.</div>                                    
                                    </div>
                                
                                </div>
                            </div>


                            <div class="col-md-6 col-sm-12" ng-class="{ 'has-error' : reportIssue.firstName.$invalid && !reportIssue.firstName.$pristine }">
                                <div class="">
                                    <label for="fname">First Name:</label>
                                    <input type="text" class="form-control" ng-model="first_name" name="firstName" id="fname" required>
                                    <div ng-messages="reportIssue.firstName.$error" ng-if="reportIssue.firstName.$dirty">
                                        <div ng-message="required" class="error">First Name is required.</div>                                    
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-sm-12" ng-class="{ 'has-error' : reportIssue.lastName.$invalid && !reportIssue.lastName.$pristine }">
                                <div class="">
                                    <label for="lname">Last Name:</label>
                                    <input type="text" ng-model="last_name" name="lastName" class="form-control" id="lname" required>
                                    <div ng-messages="reportIssue.lastName.$error" ng-if="reportIssue.lastName.$dirty">
                                        <div ng-message="required" class="error">Last Name is required.</div>
                                    </div>                                
                                </div>
                            </div>


                            <div class="col-md-6 col-sm-12" ng-class="{ 'has-error' : reportIssue.subject.$invalid && !reportIssue.subject.$pristine }">
                                <div class="">
                                    <label for="subject">Subject:</label>
                                    <input type="text" class="form-control" ng-model="subject" name="subject" id="subject" required>
                                    <div ng-messages="reportIssue.subject.$error" ng-if="reportIssue.subject.$dirty">
                                        <div ng-message="required" class="error">Subject is required.</div>
                                    </div>                                     
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12" ng-class="{ 'has-error' : reportIssue.description.$invalid && !reportIssue.description.$pristine }">
                                <div class="">
                                    <label for="subject">Description:</label>
                                    <textarea class="form-control" name="description" ng-model="description" required></textarea>
                                    <div ng-messages="reportIssue.description.$error" ng-if="reportIssue.description.$dirty">
                                        <div ng-message="required" class="error">Description is required.</div>
                                    </div>                              
                                </div>
                            </div>
                        </div>

                        <div id="dis" class="error">{{message}}</div>


                        <div class="row">
                            <div class="col-sm-12 text-right"><input type="submit" ng-disabled="reportIssue.$invalid" value="Submit" class="btn btn-success"></div>
                        </div>

                        <div class="modal fade success-modal-message" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                     

                                        <div class="alert alert-success fade in alert-dismissable">
                                            <!--<a href="" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>-->
                                            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                            <strong>Success!</strong>Your Issue Has Been Submitted
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <input type="button" id="AddPay" class="btn btn-success" ng-click="ok();" data-dismiss="modal" value="ok">
                                    </div>
                                </div>
                            </div>
                        </div>




                    </form>
              


               

                <div class="row">
                    <div class="col-sm-12">
                        <a href="#/login">Return to LogIn</a>
                    </div>
                </div>


            </div>

        </div>
    </div>
    <div class="clear"></div>
    <div class="footer"><p>© Copyright 2016  | <a href="#/ReportIssue">Report Issue</a> |  Version {{ versionNo}}</p></div>
</div>
<!--End Main container-->
<!-- All Javascript include here for fast loading of page -->
