
/* menu start*/


body {
  margin: 0;
  padding: 0;
}
.blue-strip{
	background-color:var(--main-bg-color);
	display:inline-block;
	position:relative;
}
.navbar-bg {
    background-color: var(--main-bg-color);
    /*background: #33a7e3; */
    float: left;
    height: 60px;
    position: fixed;
    z-index:1;
    top: 0;
    left: 0;
    right: 0;
}

.disable{
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events:none;
}
.main-logo {
background: url(https://olaf.idealss.com/img/versirent_logo.png) no-repeat center 2px;
    height: 75px;
    width: 224px;
    position: fixed;
    background-size: contain;
    max-height: 75px;
    z-index: 999;
}
.login-logo{ position:absolute; top:65px; left:calc(50% - 108px);  }


.home {float:right;display:block; z-index:3;width:16%;
position:relative;top:10px;padding:10px 8px;}
.home a {float: right;}
.home a img {opacity:0.7; text-decoration:none;}
.home a img:hover {opacity:1;}
.sidebar{
	position:fixed;
	left:-200px;
	right:0px;
	width:200px;
  background: var(--main-bg-color);
	transition: all 0.5s ease-in-out;
	height:100%;
    /*z-index: 999999;*/
    z-index:1039;
    top:0;
}
.sidebar.open{
	left:0;
    box-shadow: 10px 0 200px #000;
}
#nav-icon{
   width: 45px;
   height: 60px;
  position: absolute;
  padding: 0px;
  cursor: pointer;
  background: var(--main-bg-color);
  right:-45px;
}
.main-heading {
position:absolute;
z-index:10;
margin-left:10%;
top:22px;
text-align:center;
font-size:20px;
font-weight:bold;
width:74%;
display:block;
color:#fff;
text-transform:uppercase;
}
.corp-office{
position:absolute;
z-index:10;
margin-left:-20%;
top:22px;
text-align:center;
font-size:30px;
font-weight:bold;
width:74%;
display:block;
color:#fff;
text-transform:uppercase;
}

#nav-icon span{
  display: block;
  position: absolute;
  height: 4px;
  width: 32px;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 17px;
}

#nav-icon span:nth-child(2) {
  top: 27px;
}

#nav-icon span:nth-child(3) {
  top: 37px;
}

.sidebar.open #nav-icon span:nth-child(1) {
  top: 27px;
}
.sidebar.open #nav-icon span:nth-child(2) {
  width:0px;
  left:50%;
}
.sidebar.open #nav-icon span:nth-child(3) {
  top: 27px;
}
.sidebar.open #nav-icon span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sidebar.open #nav-icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu{
	margin:0px;
	padding:0px;
	list-style-type:none;
	box-sizing:border-box;
}

.menu li{
	margin:0px 10px;
	padding:0;
	border-bottom:solid 1px #fff;
}
.menu li:last-child{
	border:none;
}
.menu li a{
	color:#fff;
	text-decoration:none;
	font-size:14px;
	font-family:arial;
	display:block;
	padding:10px 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.menu li a:hover{
	color:#000;
	padding-left:10px;
}
.menu li a .fa{
	margin-right:10px;
}

/*menu end*/

/*04-04-2017 message-home-page*/
.mess-home-main-sec { margin-top: 17%; border: 1px solid #ccc; padding: 0;}
.clse-head-btn {background-color: #4f96d3;display:inline-block;width: 100%;padding: 10px 15px;text-align:right;color:#fff;font-size: 22px;cursor:pointer;}
.clse-head-btn fa{text-align:right;}
.mes-text-main{display:table;width:100%; min-height: 200px;}
.mes-text-main p{display:table-cell;width:100%;padding: 15px;text-align:center;margin:auto;color:#333;font-size:20px;vertical-align: middle;}

/*---------*/
i.fa-shopping-cart {
    font-size: 20px;
    vertical-align: middle;
}
.menubar-bg{
position:fixed;
top:0;
}


.version_page.mes-text-main p {display:block; padding10px;}
.version_page {padding:40px;}
.logo_version img {width:200px;}

.main-buttons{
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     text-align:center;
     width:80%;
     left:10%;
}
.main-buttons a{
    display:inline-block;
    width:100%;
}
.m-t-30{
    margin-top:30px;
}
.card-coloumn {

    position: relative;
    display: table;
    height: 100vh;
}
.cst-information {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
}
.cst-information .cst-circle {
    display: inline-block;
    width: auto;
    margin: 0 28px;
    text-align: center;
    float: none;
}
.cst-circle .text {
    display:block;
    margin-bottom:28px;
     text-align:center;
        font-size:28px;

        color:#000;
        width:100%;
}
.circle-icon{
    border-radius:50%;
   /* background-color:#ff0000; */
   background-color:var(--main-bg-color);
    width:120px;
    height:120px;
    color:#fff;
    text-align:center;
    display: inline-block;
}
.circle-icon i{
    font-size:70px;
    line-height:120px;
}
.main-buttons span.text{
    float:left;
    text-align:center;
    font-size:30px;
    margin:5px 0px 10px 0px;
    color:#000;
    width:100%;
}
#selection-popup label{
vertical-align:middle;
}

#selection-popup input[type=radio]{
    margin: 0px 0 0 -20px;

}
#selection-popup .radio{
margin-bottom:15px;
float:left;
width:100%;
z-index:999;

}
#selection-popup .modal-footer{
text-align:right;
}
#selection-popup .modal-footer input[type="button"]{
display:inline-block;
width:auto;
}
#selection-popup .modal-footer{
width:100%;
display:inline-block;
}
#selection-popup  .checkbox+.checkbox, .radio+.radio{
margin-top:5px;
}
#selection-popup .modal-dialog{
margin-top:100px;}

@media(max-width:480px) {
    .cst-circle .text {
        font-size:26px;
    }
}
@media(max-width:360px) {
    .cst-circle .text {
        font-size:22px;
    }
}

.ajax-loader-custom{background: #ffffff;
     height: 100vh;
     padding-top: 25%;}






